.barra-navegacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /* position: absolute;
    top: 0;
    width: 100%; */

    background-color: #000;
    color: #A7A000;

    font-family: "Caesar Dressing", system-ui;
}

.logo-zoo {
    width: 25%;
}

.navbar-opcoes {
    width: 75%;

    display: flex;
    padding-right: 2%;
}

.navbar-opcoes > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;

    width: 100%;
}

li {
    padding: 0 2%;
    font-size: 2rem;
}