.barra-navegacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 15vh;

    /* position: absolute;
    top: 0;
    width: 100%; */

    background-color: #000;
    color: #A7A000;

    font-family: "Caesar Dressing", system-ui;
}

.logo-zoo {
    width: 25%;
}

.navbar-opcoes {
    width: 75%;

    display: flex;
    padding-right: 2%;
}

.navbar-opcoes > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;

    width: 100%;
}

li {
    padding: 0 2%;
    font-size: 1.8rem;
}

/* DROPDOWN */
.dropdown {
    position: relative;
}

.dropdown .dropdown-button {
    display: inline-block;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content {
    background-color: #000;
    text-align: left;
}

.dropdown-content li {
    list-style-type: none;
}

.dropdown-content a:hover {
    background-color: #000;
}

.dropdown:hover .dropdown-content {
    display: block;
}