.card-animal {
    width: 18%;
    height: 50vh;

    margin: 2% 2%;

    background-color: #a8a67a;

    border: 2px solid #555;
    border-radius: 10px;

    font-family: "Caesar Dressing", system-ui;
}

/* .ctn-atracao > img {
    width: 50%;
    height: 50%;
} */

.card-animal p {
    font-size: 1.5rem;
}

.card-animal img {
    width: 200px;
    height: 200px;
    margin: 2% 0;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.6);
}

.card-animal:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

p {
    font-size: 1.5rem;
    text-align: left;
    padding-left: 5%;
}

b {
    font-size: 1.5rem;
    text-decoration: underline;
}