.welcome {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 4%;
}

.welcome-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-container > h1 {
    color: #000;
    padding-bottom: 2%;
}

.welcome-container > p {
    font-size: 22px;
    color: #000;
}

.welcome-image {
    width: 35%;
}